
@{
    ViewBag.Title = "Index";
}
<div class="container" style="font-size:14px;">
        <br />
       <br />
        <p>
            <b>Bu proje biz öğrencilerin kolaylığı için tasarlanmıştır.</b> <br />
            <i>Temel amacı;</i> <br />
            <ul>
                <li>Gireceğiniz vize,final ve bütünleme sınavlarında kendinize bir hedef belirleyip bu hedefe göre çalışmak,</li>
                <li>Gelecekte iş hayatındaki planlı yaşama adapte olabilmek,</li>
                <li>Derslerinizin başarı durumunu planlarınız doğrultusunda artırmak,</li>
                <li>Sınavlarınızda istenilen performansın sağlanması</li>
            </ul>
        <p>
            &emsp;Siz bütün bunları yaparken, bizim üstümüze düşen ise size en sade ve şık şekilde hizmet verebilmek. <br />
            Notlarınızı kolay kaydedebileceğiniz, vize notlarınıza göre geçme notunun ve harf notunuzun hesaplandığı  <br /> bir platform sağlamak.
        </p>
        <b>Kullanım</b> <br /> <br />
        <p>
            &emsp; Harf ve geçme notları hesaplanırken üniversitelerdeki değişik programlar göz öüne alınmıştır.<br />
            Geçme notu hesaplanırken Çan Eğirisi Sistemi'nde olan öğrenciler için her dersin yanınada geçme notu yer almaktadır.<br />
            Çan Eğirisi Sisteminde Harf aralıkları hocalar tarafından belirlendiği ya da not ortalaması belirlediği için hesaplanamamaktadır.<br />
            Uygulamamızdaki Not Sistemi Karabük Üniversitesi'ne aittir. Geçme notu 60 ve finalden en az 50 puan üstü alınmalıdır.<br />
            Harf notları ise sırasıyla A1,A2,B1,B2 ve C şeklinde sıralanmaktadır.
        </p>

        <p>
            &emsp; Ders Tablosunda ders ekle butonuna bastıktan sonra notlarınızı ver ders adını üstüne tıklayarak değiştirebilirsiniz.<br />
            Finalden alacağınız puanın hangi harf notuna geldiğini öğrenmek için ise Geçer Not'unuzun üstüne gelmeniz yeterlidir.
        </p>
        <div class="col-lg-8 col-md-11 col-xs-12"><img src="~/Content/Image/tablo.png" style="width:100%;" /></div>
        <br /> <br />
        <p>
            Geliştirme sürecinde; <br />
            <ol>
                <li>Windows Communication Foundation Service Technology</li>
                <li>SQL Server CRUD Procedures </li>
                <li>HTML, CSS, JS</li>
                <li>Microsoft.Net Framework</li>
                <li>Model View Controller Framework </li>
                <li>jQuery Ajax</li>
                <li>Bootstrap</li>
            </ol>
            kullanılmıştır.
        </p>
    </div>
