@{
    ViewBag.Title = "Login";
}
@if ((Convert.ToString(Session["UserName"]) == ""))
{
    <br />
    <h2> &emsp;  &emsp;Giriş Yap</h2>
    
    <div class="container">
        <div class="col-lg-4 col-md-6 col-xs-12">
            <br /> 
            <form action="Login" method="post">
                <div class="form-group">
                    <input type="text" class="form-control col" name="KullaniciAdi" placeholder="Kullanıcı Adı">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control col" name="Sifre" placeholder="Şifre" @*autocomplete="off"*@>
                </div>
                <p style="color:red"> @TempData["KullaniciYok"]</p>
                
                    @if (TempData["KullaniciYok"] != null)
                    {
                
                    <div class="row">
                        <div class="col-6">
                            <a href="UpdatePasswd"><button type="button" class="btn btn-outline-info col">Unuttum!</button></a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-outline-primary col">Giriş</button>

                        </div>
                    </div>
                
                    }
                    else
                    {
                    <button type="submit" class="btn btn-outline-primary col">Giriş</button>
                    }


                
                
            </form>
        </div>
    </div>
}
else
{
    <script>window.location.assign("/Home/Index")</script>
}
